.box{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    //min-width: 50%;
    width: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
}

h3{
    font-size: 13px;
}

.coteDroit{
    transform: translate(+40%);
}

.log{
    position : relative;
    top : -230px;
    left : -150px;
}