.ligne{
    text-align: center; 
    margin-top: 20%;
}
.texteEnvoi{
    transform: translate(-216%);
}
.texteVisioProf{
    transform: translate(+185%);
}
.boutonDeconnexion{
    position:relative;
    top:30px;
    left:1000px;
    border-radius : 4px;
    background: #256ce1;
    padding: 10px 22px;
    color: #fff;
    border:none;
    outline:none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
   
    &:hover {
       transition: all 0.2s ease-in-out;
       background: #fff;
       color: #010606;
    }
}
