.logo {
    display: flex;
    position: absolute;
    top: 15%;
    left: 10%;
    padding: 20px;
    //transform: translate(-50%);
    //height: 60px;
    //width: 200px;
    //align-items: center;
    //justify-content: center;
    //border-radius: 10px;
    //box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    
  
    img {
      height: 200px;
      width: 200px;
      //margin-right: 10px;
      //object-fit: cover;
    }
  }